<!DOCTYPE HTML>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {%block head %} {% endblock %}

    <title>Nederlandse film {% block title %}{% endblock %}</title>
  </head>
  <style>
    img {
    float: left;
  }

  .tekst {
    text-align: left;
  }

  </style>
  <body>

    {% if session.user_id %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ url_for('index') }}">Nederlandse Film</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Vrienden
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('vriend') }}">Vriend toevoegen</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('vriendenlijst') }}">Vriendenlijst </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Lijsten
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Bekeken films</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Mijn kijklijst</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Lijsten</a>
                </div>
              </li>
            </ul>

                <form class="form-inline my-2 my-lg-0" action="/zoeken" method="post">
                    <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" class="form-control mr-sm-2" type="text" name="zoekterm" placeholder="Zoekterm" aria-label="Search">
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zoek</button>


              <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mijn account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Account wijzigen</a>
                </div>
              </li>
            </ul>
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('logout') }}">Uitloggen</a>
                  </li>
              </ul>
            </form>
          </div>
        </nav>
        {% else %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('homepage') }}">Nederlandse film</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('login') }}">Inloggen<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('register') }}">Registreren<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('overons') }}">Over ons</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" action="/zoeken" method="post">
                    <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" class="form-control mr-sm-2" type="text" name="zoekterm" placeholder="Zoekterm" aria-label="Search">
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zoek</button>
                </form>
            </div>
        </nav>

        {% endif %}

        <center><h3>{{tmdb.original_title}}</h3></center>
        <hr>

        {% block main %}
            <img src="http://image.tmdb.org/t/p/w185{{tmdb.poster_path}}" class="homepage_poster" style="margin-left:30px;">
          <div class="tekst" style="margin-left:15px;">
            {# Geen OMDb info gevonden #}
            {% if omdb == None %}

              {# Genoeg stemmen #}
              {% if tmdb.vote_count > 20 %}
              <h3><b>Score: </b> {{tmdb.vote_average}}</h3>
              <p><h5>Dit is een alternatieve score van <i>TheMovieDatabase</i>.</h5></p>
              {# Niet genoeg stemmen #}
              {% else %}
              <h3><b>Score: </b></h3><h4>Niet genoeg stemmen beschikbaar.</h4>
              {% endif %}
              <h3><b>Jaar: </b> {{tmdb.release_date[:4]}}</h3>
              <a><b>Omschrijving: </b>{{tmdb.overview}}</a>

            {# Wel OMDb info gevonden #}
            {% else %}
              <h4><b>Score: </b></h4><h5>{{omdb.imdbRating}}</h5>
              <hr>
              <h4><b>Jaar: </b></h4><h5>{{omdb.Year}}</h5>
              <hr>
              <h4><b>Regisseur(s): </b></h4><h5>{{omdb.Director}}</h5>
              <hr>
              <h4><b>Schrijver(s): </b></h4><h5>{{omdb.Writer}}</h5>
              <hr>
              <h4><b>Acteuren: </b></h4><h5>{{omdb.Actors}}</h5>
              <hr>
              <h4><b>Omschrijving: </b></h4>
              <p>{{tmdb.overview}}</p>

          {% endif %}

        </div>

        {% endblock %}

<!-- Tabellen in JinJa; https://stackoverflow.com/questions/9198334/how-to-build-up-a-html-table-with-a-simple-for-loop-in-jinja2 -->




    </body>
</html>
